.Container {
  height: 100%;
  width: 100%;
}

.Dashboard {
  width: 100%;
  height: 100%;
  padding: 2em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/city.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}


.Title {
  margin-bottom: 0.2em;
}

.Intro {
  margin-bottom: 0.4em;
}

.Me {
  width: 250px;
  margin-top: 1em;
}