.JobFairContainer {
  background-image: url("/white_brick_2.png");
  background-repeat: repeat;
  background-size: 182px 142px;
  min-height: 100%;
  width: 100%;
}

.JobFair{
  background: rgba(110, 12, 12, 0.685);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  min-height: 100%;
  width: 100%;

}

.ListingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.Row {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Floor {
  width: 100%;
  height: 104px; 
  background-image: url('/job_fair_wood_floor.png'); 
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
}