.SpeakerListing {
  border: solid 4px black;
  border-radius: 15px;
  min-height: 100px;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  margin: 1em;
  padding: 2em 1em;
  padding-top: 2.5em;
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
}

.PresentationTime {
  margin-bottom: 0.4em;
}

.Attend {
  margin-bottom: 0.4em;
  padding: 0.5em;
  border: solid 2px;
  border-radius: 5px;
}

.Attend:hover {
  cursor: pointer;
}

.Image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px black;
  height: 95px;
  width: 95px;
  border-radius: 50%;
}

.Name, .Title {
  text-wrap: wrap;
  
}

.SocialLinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

.SocialItem {
  margin: 0px 0.25em;
  margin-bottom: 0.25em;
}